@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
