@import '../../styles/variables.scss';

.CompanyList {
  .categoryNav {
    @include flex-center();
    margin-top: 70px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e1e2e3;

    .categoryNavWrap {
      font-size: 18px;
      color: #999;

      .navText {
        margin-bottom: 18px;
      }

      .categoryLocation {
        display: flex;
        list-style: none;
      }
    }
  }

  .categoryBody {
    padding: 10px 180px;

    .filterWrap {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      .btnList {
        width: 956px;

        .filterBtn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          margin-right: 15px;
          padding: 15px;
          border-radius: 4px;
          border: 1px solid $theme-color-border;
          font-size: 14px;
          letter-spacing: normal;
          color: #000;
          background-color: #fff;

          .btnName {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: normal;
            color: #333;
            margin-right: 8px;
          }

          .btnTextFind {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: normal;
            color: rgb(167, 154, 154);
            margin-right: 8px;
          }

          .btnText {
            font-size: 14px;
            font-weight: 400;
            font-weight: bold;
            letter-spacing: normal;
            color: $theme-color;
            margin-right: 8px;
          }

          .drop {
            width: 10px;
            margin-left: 7px;
          }
        }

        & :last-child {
          margin-right: 0px;
        }
      }

      .orderList {
        .orderBtn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          height: 40px;
          margin-right: 15px;
          padding: 0 15px;
          border-radius: 4px;
          border: 1px solid $theme-color-border;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: normal;
          color: #000;
          background-color: #fff;
          appearance: none;

          .drop {
            width: 10px;
            margin-left: 5px;
          }
        }
      }
    }

    .AllBookmarks {
      margin-top: 12px;
      font-weight: bold;
      font-size: 12pt;

      .fas {
        margin-right: 12px;
        color: $theme-color;
      }

      .markText {
        color: $theme-color;
      }
    }

    .cardListWrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
}
