@import '../../styles/variables.scss';

.Nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 500;
  background-color: #ffffff;
  border: 1px solid $theme-color-border;

  .goMain {
    display: flex;
    justify-content: center;
    align-items: center;

    .navLogo {
      margin-top: -3px;
      margin-right: 50px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .navMenuBar {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;

    .menuItem {
      padding: 17px 20px;

      &:hover {
        border-bottom: 3px solid $theme-color;
      }
    }
  }

  .btnSearch {
    margin: 0 20px;
  }

  .profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .btnSignUp {
    font-size: 14px;
    font-weight: 600;
  }
}
