@import '../../../styles/variables.scss';

.ModalPopupWrapON {
  @include flex-center();
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(76, 76, 76, 0.7);
  z-index: 4;
}

.ModalPopupWrapOFF {
  display: none;
}
